@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
    }

    .glow-border::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    border-radius: 9999px;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(56, 182, 255, 0.5) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    background-size: 50% 100%; /* más amplio para que fluya */
    background-repeat: no-repeat;
    animation: shimmer 3s linear infinite;
    z-index: 1;
    pointer-events: none;
    }

    .glow-border {
    position: relative;
    z-index: 2;
}